 .big-screen {
            max-width: 1400px !important;
            margin: 0 auto;
        }

 .red-discount {
     color: red;
 }       

 .pie{
     background-color: black;
     color: white;
     text-align: center;
 }

 
